In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db

In [3]:
df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/")

In [4]:
df

   <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
0                                              <html>
1                                              <head>
2     <title>Index of /ml/machine-learning-databas...
3                                             </head>
4                                              <body>
5   <h1>Index of /ml/machine-learning-databases/ad...
6   <table><tr><th><img src="/icons/blank.gif" alt...
7   <tr><td valign="top"><img src="/icons/back.gif...
8   <tr><td valign="top"><img src="/icons/unknown....
9   <tr><td valign="top"><img src="/icons/unknown....
10  <tr><td valign="top"><img src="/icons/text.gif...
11  <tr><td valign="top"><img src="/icons/unknown....
12  <tr><td valign="top"><img src="/icons/text.gif...
13                 <tr><th colspan="5"><hr></th></tr>
14                                           </table>
15  <address>Apache/2.2.15 (CentOS) Server at arch...
16                                     </body></html>

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 1 columns):
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">    17 non-null object
dtypes: object(1)
memory usage: 108.0+ bytes

In [6]:
df.head(3)

  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
0                                             <html>
1                                             <head>
2    <title>Index of /ml/machine-learning-databas...

In [7]:
df.describe()

       <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
count                                                  17
unique                                                 17
top     <h1>Index of /ml/machine-learning-databases/ad...
freq                                                    1

In [8]:
import sqlite3

In [9]:
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

In [10]:
connection

In [11]:
cursor

In [ ]:
con = connect(":sqladb:")
con