In [ ]:
import pandas as pd
from sqlite3 import connect
from pandas import read_sql_query
import pandasql
import pysqldf
import numpy

In [ ]:
con = connect(":sqladb:")

In [ ]:
cur = con.cursor()

In [ ]:
cur.execute("attach 'sqladb.db' as filedb")

In [ ]:
cur.execute("""CREATE TABLE adult (
            age   int,
            workclass   varchar(40),
            fnlwgt   int,
            education   varchar(40),
            education_num   int,
            marital_status   varchar(40),
            occupation   varchar(20),
            relationship   varchar(40),
            race   varchar(20),
            sex   varchar(10),
            capital_gain   int,
            capital_loss   int,
            hours_per_week   int,
            native_country   varchar(50),
            label    varchar(10))""")

In [ ]:
cur.execute("detach filedb")

In [ ]:
df = read_sql_query("select * from adult", con)

In [ ]:
df

In [ ]:
df.to_sql(name='sqladb',con=con)

In [ ]:
df = read_sql_query("select education from adult1 limit 5;", con)

In [ ]:
df

In [ ]:
df.to_sql('adult', con=con, if_exists='append')

In [ ]:
df = pd.read_csv('adult.csv')
df.drop(labels='Unnamed: 15',axis=1,inplace=True)
df

In [ ]:
df.to_sql('adult',con=con, if_exists='append',index=False)

In [ ]:
#df2 = pd.read_sql("select * from adult1 limit 5;",con)
df2 = pd.read_sql("select * from adult limit 5",con)
#SHOW TABLES

In [ ]:
df2.columns

In [ ]:
avgMenInPrivateSctorDF = pd.read_sql("select hours_per_week from adult where workclass = ' Private' and sex = ' Male';",con)

In [ ]:
avgMenInPrivateSctorDF['hours_per_week'].mean()

In [ ]:
df2[df2['workclass'] == 'Private' and]

In [ ]:
freqTableDF = pd.read_csv("")

In [ ]:
SELECT type,
       amount,
       account,
       (SELECT SUM(amount)
        FROM transactions AS t2
        WHERE t2.type            = transactions.type
          AND t2.transaction_id <= transactions.transaction_id
       ) AS cumulative_sum
FROM transactions
ORDER BY transaction_id;